@model MvcTicariOtomasyon.Models.Siniflar.SatisHareket

@{
    ViewBag.Title = "UrunSat";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>UrunSat</h2>

<form class="form-group" method="post">

    @Html.LabelFor(x => x.Urunid)
    <input type="text" name="Urunid" value="@ViewBag.dgr2" class="form-control" readonly />
    <br />

    @Html.LabelFor(x => x.Personelid)
    @Html.DropDownListFor(x => x.Personelid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.Cariid)
    @Html.TextBoxFor(x => x.Cariid, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.Adet)
    <input type="number" name="Adet" class="form-control" min="0" placeholder="Satış Adet" id="txtadet" onchange="sum()" />
    <br />

    @Html.LabelFor(x => x.Fiyat)
    <input type="text" name="Fiyat" value="@ViewBag.dgr3" class="form-control" id="txtfiyat" onchange="sum()" />
    <br />

    @Html.LabelFor(x => x.ToplamTutar)
    <input type="text" name="ToplamTutar" value="" class="form-control" id="txttoplam" onchange="sum()" readonly />

    <br />


    <button class="btn btn-primary">Sat</button>

</form>

<script>
    function sum() {
        var sayi1 = document.getElementById('txtadet').value;
        var sayi2 = document.getElementById('txtfiyat').value;
        var sonuc = parseInt(sayi1) * parseInt(sayi2);

        if (!isNaN(sonuc)) {
            document.getElementById('txttoplam').value = sonuc;
        }
    }
</script>