@using MvcTicariOtomasyon.Models.Siniflar;
@model List<Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>Id</th>
        <th>seri no</th>
        <th>Sıra no</th>
        <th>vergi daires</th>
        <th>tarih</th>
        <th>teslim eden</th>
        <th>teslim alan</th>
        <th>toplam</th>
        <th>guncelle</th>
        <th>detaylar</th>
        
    </tr>
    @foreach (var k in Model)
    {

        <tr>
            <td>@k.Faturaid</td>
            <td>@k.FaturaSeri</td>
            <td>@k.FaturaSıraNo</td>
            <td>@k.VergiDairesi</td>
            <td>@k.Tarih</td>
            <td>@k.TeslimEden</td>
            <td>@k.TeslimAlan</td>
            <td>@k.Toplam</td>
            <td><a href="/Fatura/FaturaGetir/@k.Faturaid" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Fatura/FaturaDetay/@k.Faturaid" class="btn btn-success">Detay</a></td>


        </tr>
    }



</table>

<a href="/Fatura/FaturaEkle" class="btn btn-info">Fatura Ekle</a>

